body {
  margin: 0px;
  text-align: justify;
}

.aviso {
  background-image: url(https://st.depositphotos.com/1000176/4130/i/600/depositphotos_41306319-stock-photo-paper-textures.jpg);
  background-size: cover;
  background-size: contain;
  box-shadow: 15px 15px 80px rgb(98, 77, 50) inset;
  width: 750px;
  height: 800px;
  padding: 30px;
  font-family: 'Courgette', cursive;
  font-family: 'Stick No Bills', sans-serif;
  font-size: large;
  text-shadow: 5px 5px 15px rgb(46, 30, 18);
}

#nombre {
  background: transparent;
  box-shadow: 5px 5px 15px rgb(96, 60, 36) inset;
  border-radius: 6px;
  font-family: 'Courgette', cursive;
  font-family: 'Stick No Bills', sans-serif;
  font-size: large;
}

#stewie {
  border-radius: 50%;
  box-shadow: 5px 5px 95px rgba(210, 62, 62, 0.846) inset;
  /*display: inline-flex;
  align-items: flex-end;*/
}
